<nav class="menu">
      <ul>
        <li class="drop"><a class="navbar-brand" href="{% url 'home' %}">Bao Fú</a></li>
        <li class="drop"><a href="">My Profile</a></li>
        <li class="drop"><a href="">Menu</a></li>
        <li class="drop"><a href="">Register a supplier</a></li>
        <li class="drop"><a href="">Supplier list</a></li>
        <li class="drop"><a href="">About</a></li>
        <li class="drop"><a href="">Contact</a></li>
        <li class="drop"><a href="">Logout</a></li>
      </ul>
</nav>